{
  "version": 3,
  "teams": [
    {{- $mm := .mattermost -}}
    {{- if index $mm "teams" -}}
    {{- $teams := $mm.teams -}}
    {{- range $i, $t := $teams }}
    {
      "name": "{{ $t.name }}",
      "url": "{{ $t.url }}",
      "order": 0,
      "lastActiveTab": 0,
      "tabs": [
        {
          "name": "TAB_MESSAGING",
          "order": 0,
          "isOpen": true
        },
        {
          "name": "TAB_FOCALBOARD",
          "order": 1,
          "isOpen": false
        },
        {
          "name": "TAB_PLAYBOOKS",
          "order": 2,
          "isOpen": false
        }
      ]
    {{- if lt (add $i 1) (len $teams) }},{{ end }}
    {{- end }}
    }{{ end }}
  ],
  "showTrayIcon": true,
  "trayIconTheme": "use_system",
  "minimizeToTray": false,
  "notifications": {
    "flashWindow": 0,
    "bounceIcon": true,
    "bounceIconType": "informational"
  },
  "showUnreadBadge": true,
  "useSpellChecker": true,
  "enableHardwareAcceleration": true,
  "autostart": false,
  "hideOnStart": false,
  "spellCheckerLocales": [],
  "darkMode": false,
  "lastActiveTeam": 0,
  "downloadLocation": "/home/michal/Downloads",
  "startInFullscreen": false,
  "logLevel": "info",
  "enableMetrics": true,
  "alwaysClose": true,
  "autoCheckForUpdates": false
}